.cardPerfumes {
    background-color: #ffffff;
    border-radius: 10px;
    width: 14rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 18rem;
}

.imgPerfume {
    width: 130px;
    height: 130px;
    object-fit: contain;
    border-radius: 20px

}

.btnPerfumes {
    color: white;
    font-size: .7rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 1rem;
}
.button{
    background-color: #0079fb;
    border-radius: 5px;
    border: none;
}
.link{
    color: #ffffff;
    text-decoration: none;
}

.infoPerfume{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: .4;
}
#tituloNombre {
line-height: normal;

}