
header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: aqua;
    
}
